body {
    background-color: rgb(44, 44, 44);
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
    text-align:center;
    user-select: none;
    text-decoration:none;
    
}

h1{
    font-weight: 100;
    margin-top: 30px;
    margin-bottom : 160px;
}

img {
    width:400px;
    margin:30px;
}

.el {
    font-size:20px;
}

a {
    text-decoration:none;
    color:white;
}

.list {
    display:inline-block;
}

.box{
    margin-bottom:50px;
}